extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
 
    - let dogid = toShow._id 
    - let dog_type = toShow.dog_type 
    - let dogcost = toShow.cost 
    - let dogsize = toShow.size 
    
    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{dogid} 
    - let actionid = "/resource/dogs/" + dogid 
    form(id='dogForm', action= actionid, method="PUT") 
        div.form-group 
            label.dogAttr(for='dog_type') dog type 
            input#dog_type(type='text', name='dog_type', value= dog_type ) 
        div.form-group 
            label.dogAttr(for='size') dog size 
            input#size(type='text', name='size', value= dogsize ) 
        div.form-group 
            label.dogAttr(for='cost') dog cost 
            input#cost(type='number', name='cost', value= dogcost ) 
        input(type="submit") 
    
    script. 
        document.forms['dogForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        }); 